.parallax {
    --link: rgb(113, 128, 113);
    position: relative;
    width: 100%;
    height: 100vh;
    list-style-type: none;

    & header {
        width: inherit;
        position: absolute;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 1.5rem;

        & .menu {
            list-style-type: none;
            display: flex;
            gap: 1.25rem;

            &:hover a:not(:hover) { border: none; }

            & li:first-of-type a { border-bottom: 2px solid var(--link); }

            & a {
                text-decoration: none;
                font: 900 0.75rem futura,sans-serif;
                color: var(--link);
                text-transform: uppercase;
                padding-bottom: 0.5rem;

                &:hover { border-bottom: 2px solid var(--link); }
            }
        }

        & .hamburger {
            font-size: 2rem;
            color: var(--link);
            cursor: pointer;
            display: none;
        }

        @media (width < 700px) {
            & .menu       { display: none; }
            & .hamburger  { display: block; }
        }
    }

    & .layer {
        position: absolute;
        width: inherit;
        height: inherit;
        background-position: center 25%;
        background-size: cover;
        z-index: -1;
        transition: transform 0.1 ease-out;

        &:nth-of-type(1) { background-image: url('https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/1.svg'); }
        &:nth-of-type(2) { background-image: url('https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/2.svg'); }
        &:nth-of-type(3) { background-image: url('https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/3.svg'); }
        &:nth-of-type(4) { background-image: url('https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/4.svg'); }
        &:nth-of-type(5) { background-image: url('https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/4.svg'); }
        &:nth-of-type(6) { background-image: url('https://gist.githubusercontent.com/mondenoir/5395b6e7d9445c3a0fc82e6ece97268c/raw/bca5c0c6397e38d79b5af9e88f78f0aa7b515b94/img-1.svg'); }
    }
}